language: node_js
node_js:
  - '8'
cache:
  directories:
    - node_modules
notifications:
  email: false
before_script:
  - npm install jest
script:
  - npm test
after_success:
  - npm run semantic-release
